{% schema %}
{
  "name": "Prefooter",
  "tag": "section",
  "class": "prefooter-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Take Great Care"
    }
  ],
  "presets": [
    {
      "name": "Prefooter",
      "category": "Page content"
    }
  ]
}
{% endschema %}

<div class="prefooter-wrapper">
  <div class="page-width">
    <h2 class="prefooter-title">{{ section.settings.title }}</h2>
    <div class="prefooter-logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="96" height="95" viewBox="0 0 96 95" fill="none">
        <g clip-path="url(#clip0_4146_735)">
          <path d="M44.2778 50.1368C43.1818 49.4295 41.8348 49.3187 40.68 49.843C40.1421 50.0871 39.6517 50.4916 39.2675 51.0136L35.238 56.2901L34.8945 56.7307L35.3984 57.2347L35.4775 57.1398C35.9725 56.5477 36.5194 56.0528 37.1047 55.6709C38.9556 54.4619 41.0393 54.2676 42.6778 55.1557C44.366 56.0686 45.3332 57.9646 45.3332 60.3599V84.1596C45.3332 86.5617 44.3615 88.4599 42.6665 89.3706C41.0144 90.2564 38.9217 90.0531 37.0663 88.8237C36.4199 88.3944 35.8165 87.8249 35.2719 87.1267L11.2507 56.2923L7.22114 51.0158C6.83469 50.4938 6.34428 50.0871 5.8064 49.843C4.6493 49.3187 3.30462 49.4295 2.20854 50.1368C1.12375 50.8373 0.5 51.9875 0.5 53.2937V91.2236C0.5 92.5297 1.12149 93.6822 2.20854 94.3805C3.30462 95.0878 4.65156 95.1985 5.8064 94.6743C6.34428 94.4302 6.83469 94.0257 7.21888 93.5037L11.2484 88.2272L11.4495 87.9673L10.9388 87.4566L10.8597 87.547C10.4032 88.0645 9.90599 88.5029 9.37941 88.8463C7.5285 90.0576 5.44481 90.2497 3.80633 89.3616C2.11814 88.4486 1.15087 86.5527 1.15087 84.1574V60.3576C1.15087 57.9555 2.12266 56.0573 3.81763 55.1467C5.46967 54.2608 7.5624 54.4642 9.41783 55.6935C10.0642 56.1229 10.6676 56.6946 11.2122 57.3906L35.2334 88.2249L39.263 93.5014C39.6494 94.0234 40.1398 94.4302 40.6777 94.6743C41.1613 94.8934 41.6789 95.0019 42.1964 95.0019C42.9173 95.0019 43.6383 94.7918 44.2778 94.3805C45.3626 93.68 45.9864 92.5297 45.9864 91.2236V53.2937C45.9864 51.9875 45.3626 50.835 44.2778 50.1368Z" fill="black"/>
          <path d="M44.2778 0.621601C43.1818 -0.085702 41.8348 -0.19643 40.68 0.327833C40.1421 0.571886 39.6517 0.976382 39.2675 1.49838L35.238 6.77491L34.8945 7.21556L35.3984 7.71948L35.4775 7.62457C35.9725 7.03252 36.5194 6.53763 37.1047 6.15573C38.9556 4.94677 41.0393 4.75243 42.6778 5.64051C44.366 6.55345 45.3332 8.44938 45.3332 10.8447V34.6444C45.3332 37.0466 44.3615 38.9447 42.6665 39.8554C41.0144 40.7412 38.9217 40.5379 37.0663 39.3086C36.4199 38.8792 35.8165 38.3098 35.2719 37.6115L11.2507 6.77717L7.22114 1.49838C6.83469 0.976382 6.34428 0.569626 5.8064 0.325573C4.6493 -0.19643 3.30462 -0.085702 2.20854 0.621601C1.12149 1.32212 0.5 2.47234 0.5 3.77847V41.7084C0.5 43.0146 1.12149 44.167 2.20854 44.8653C3.30462 45.5726 4.65156 45.6833 5.8064 45.1591C6.34428 44.915 6.83469 44.5105 7.21888 43.9885L11.2484 38.712L11.4495 38.4521L10.9388 37.9414L10.8597 38.0318C10.4032 38.5493 9.90599 38.9877 9.37941 39.3312C7.5285 40.5424 5.44481 40.7345 3.80633 39.8464C2.11814 38.9334 1.15087 37.0375 1.15087 34.6422V10.8425C1.15087 8.44034 2.12266 6.54215 3.81763 5.63147C5.46967 4.74565 7.5624 4.94903 9.41783 6.17833C10.0642 6.60769 10.6676 7.1794 11.2122 7.87541L35.2334 38.7097L39.263 43.9863C39.6494 44.5083 40.1398 44.915 40.6777 45.1591C41.1613 45.3783 41.6789 45.4867 42.1964 45.4867C42.9173 45.4867 43.6383 45.2766 44.2778 44.8653C45.3626 44.1648 45.9864 43.0146 45.9864 41.7084V3.77847C45.9864 2.47234 45.3626 1.31986 44.2778 0.621601Z" fill="black"/>
          <path d="M51.7222 50.1368C52.8183 49.4295 54.1652 49.3187 55.3201 49.843C55.858 50.0871 56.3484 50.4916 56.7326 51.0136L60.7621 56.2901L61.1056 56.7307L60.6016 57.2347L60.5225 57.1398C60.0276 56.5477 59.4807 56.0528 58.8953 55.6709C57.0444 54.4619 54.9607 54.2676 53.3223 55.1557C51.6341 56.0686 50.6668 57.9646 50.6668 60.3599V84.1596C50.6668 86.5617 51.6386 88.4599 53.3336 89.3706C54.9856 90.2564 57.0783 90.0531 58.9338 88.8237C59.5801 88.3944 60.1835 87.8249 60.7282 87.1267L84.7494 56.2923L88.7789 51.0158C89.1654 50.4938 89.6558 50.0871 90.1936 49.843C91.3507 49.3187 92.6954 49.4295 93.7915 50.1368C94.8763 50.8373 95.5 51.9875 95.5 53.2937V91.2236C95.5 92.5297 94.8786 93.6822 93.7915 94.3805C92.6954 95.0878 91.3485 95.1985 90.1936 94.6743C89.6558 94.4302 89.1654 94.0257 88.7812 93.5037L84.7516 88.2272L84.5505 87.9673L85.0613 87.4566L85.1404 87.547C85.5969 88.0645 86.0941 88.5029 86.6206 88.8463C88.4715 90.0576 90.5552 90.2497 92.1937 89.3616C93.8819 88.4486 94.8492 86.5527 94.8492 84.1574V60.3576C94.8492 57.9555 93.8774 56.0573 92.1824 55.1467C90.5304 54.2608 88.4376 54.4642 86.5822 55.6935C85.9359 56.1229 85.3324 56.6946 84.7878 57.3906L60.7666 88.2249L56.7371 93.5014C56.3506 94.0234 55.8602 94.4302 55.3223 94.6743C54.8387 94.8934 54.3212 95.0019 53.8036 95.0019C53.0827 95.0019 52.3618 94.7918 51.7222 94.3805C50.6374 93.68 50.0137 92.5297 50.0137 91.2236V53.2937C50.0137 51.9875 50.6374 50.835 51.7222 50.1368Z" fill="black"/>
          <path d="M51.7222 0.621155C52.8183 -0.086148 54.1652 -0.196876 55.3201 0.327387C55.858 0.57144 56.3484 0.975936 56.7326 1.49794L60.7621 6.77446L61.1056 7.21511L60.6016 7.71904L60.5225 7.62413C60.0276 7.03207 59.4807 6.53719 58.8953 6.15529C57.0444 4.94632 54.9607 4.75198 53.3223 5.64007C51.6341 6.55301 50.6668 8.44894 50.6668 10.8443V34.644C50.6668 37.0461 51.6386 38.9443 53.3336 39.855C54.9856 40.7408 57.0783 40.5374 58.9338 39.3081C59.5801 38.8788 60.1835 38.3093 60.7282 37.611L84.7494 6.77672L88.7789 1.5002C89.1654 0.978196 89.6558 0.57144 90.1936 0.327387C91.3507 -0.196876 92.6954 -0.086148 93.7915 0.621155C94.8763 1.32168 95.5 2.47189 95.5 3.77803V41.708C95.5 43.0141 94.8786 44.1666 93.7915 44.8649C92.6954 45.5722 91.3485 45.6829 90.1936 45.1586C89.6558 44.9146 89.1654 44.5101 88.7812 43.9881L84.7516 38.7115L84.5505 38.4517L85.0613 37.941L85.1404 38.0314C85.5969 38.5488 86.0941 38.9872 86.6206 39.3307C88.4715 40.542 90.5552 40.734 92.1937 39.8459C93.8819 38.933 94.8492 37.0371 94.8492 34.6417V10.842C94.8492 8.4399 93.8774 6.54171 92.1824 5.63103C90.5304 4.7452 88.4376 4.94858 86.5822 6.17789C85.9359 6.60724 85.3324 7.17896 84.7878 7.87496L60.7666 38.7093L56.7371 43.9858C56.3506 44.5078 55.8602 44.9146 55.3223 45.1586C54.8387 45.3778 54.3212 45.4863 53.8036 45.4863C53.0827 45.4863 52.3618 45.2761 51.7222 44.8649C50.6374 44.1643 50.0137 43.0141 50.0137 41.708V3.77803C50.0137 2.47189 50.6374 1.31942 51.7222 0.621155Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_4146_735">
            <rect width="95" height="95" fill="white" transform="translate(0.5)"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</div>

<style>
  .prefooter-section {
    padding: 8.75em 0;
    text-align: center;
    background-color: var(--nue-light-grey);
  }

  .prefooter-title {
    font-size: 4.5em;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -0.09rem;
    margin: 0;
    padding: 0;
    color: var(--nue-black);
  }

  .prefooter-logo {
    margin-top: 5em;
  }

  .prefooter-logo svg {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
</style>
